
.profile{
    text-align: center;
    width: 100%;
    
}

.profile h2{
    font-size: 3.5vw;
    line-height: 1vw;
    text-shadow: 2px 2px 10px #079992;
    color: #0a3d62;
}

.profile .col3-1{
    width: 33%;
    
    display: inline-block;
}

.profile .info {
    color: #3c6382
}

.profile .info li{
    padding: 0.25em;
    font-size: 1.75vw;
}

.profile .info li span {
    font-style: italic;
    font-weight: bold;
}