header, footer{
    text-align: center;
    padding: 1em 0em;
    box-shadow: 1px 4px 10px silver;
    font-size: 1.25em;
    font-weight: bold;
}


section{
    width: 80%;
    margin: 0px auto;
}


footer {
    box-shadow: 1px -4px silver;
    font-size: 1.2em;
    font-weight: lighter;
}